* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;

}


.About,
.Skills,
.education,
.contact {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home {
    background-color: rgb(121, 17, 99);
}

.education {
    background-color: #0c93f4;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: #b0cbdf;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav a {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.nav a:hover,
.nav a.active {
    color: #00abf0;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content {
    max-width: 610px;

}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #f2f4f5;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color: #00abf0;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 100px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s ease;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-img img {
    width: 400px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00abf0;
    border-radius: 40px;
    box-shadow: 0 0 10px #00abf0;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }

}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: #081b29;
    padding-bottom: 5rem;
}

.heading {
    font-size: 3rem;
    margin-top: 60px;
    text-align: center;
}

span {
    color: #00abf0;
}

.about-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 70%;
    border-radius: 20%;
    border: .2rem solid #00abf0;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 70%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;

}

.about-content {
    text-align: center;

}

.about-content h3 {
    font-size: 2rem;

}

.about-content p {
    position: relative;
    font-size: 1rem;
    margin: 20px 0 40px;
    margin-left: 3.5rem;
    max-width: 1200px;
}

.btn-box .btn {
    display: inline-block;
    width: 11.5rem;

}

.btn-box .btn a::before {
    background: #081b29;

}





.contact {
    background-color: #044370;
    min-height: auto;
    padding-bottom: 5rem;
}

.heading {
    margin-top: 0px;
}

.contact form {
    max-width: 55rem;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .7rem 0;

}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 80%;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: #ededed;
    background: transparent;
    border-radius: 0.5rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #ededed;

}


.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 80%;
    background: #081b29;
    border-radius: .6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .7rem 0 2.5rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
    height: 10rem;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
    margin-top: -30px;
}

.footer {
    background-color: #044370;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: #081b29;
}

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: #00abf0;
    border: 0.2rem solid #081b29;
    border-radius: 0.5rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #044370;
    z-index: -1;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1rem;
    color: #081b29;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: #00abf0;
}

.education {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background-color: #044370;
}

.education .heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card {
    width: 150px;
    background: black;
    border: 3px solid #00abf0;
    border-radius: 20px;

}

.swiper-container {
    width: 200px;
    overflow: visible;
}



.card .image {
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}




.card .card-content {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.card .card-content h3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 600px;
}


.card-container {
    display: flex;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #081b29;
    margin: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translate(0, -10px) scale(1.1);
    z-index: 1;
}


.card .card-content p {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 400px;
}

.card .card-content .btn-box {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
}

.card .card-content .btn-box a {
    background: #00abf0;
    border: none;
    outline: none;
    font-weight: 500px;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s;
}

.card .card-content .btn-box a:hover {
    background: #ededed;
}

.contact .contactdir {
    margin-top: 50px;
    bottom: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #044370;

    border: 2px solid #00abf0;

    border-radius: 10px;

    padding: 20px;

    width: 300px;
    margin-right: 80px;
}

.contact .contactdir a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    margin-right: 5px;
}

.contact .contactdirr {
    margin-top: 50px;
    bottom: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #044370;
    /* Background color for the rectangle */
    border: 2px solid #00abf0;
    /* Border style for the rectangle */
    border-radius: 10px;
    /* Border radius for rounded corners */
    padding: 20px;
    /* Padding around the icons and information */
    width: 300px;
    margin-right: 80px;
}

.contact .contactdirr a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    margin-right: 5px;
}

.contact .contactdirrr {
    margin-top: 50px;
    bottom: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #044370;
    /* Background color for the rectangle */
    border: 2px solid #00abf0;
    /* Border style for the rectangle */
    border-radius: 10px;
    /* Border radius for rounded corners */
    padding: 20px;
    /* Padding around the icons and information */
    width: 300px;
}

.contact .contactdirrr a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    margin-right: 5px;
}

.cont {
    display: inline-flex;
}